@layer fonts {
    /* nunito-sans-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        src: url('/fonts/nunito-sans-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    
    /* nunito-sans-600 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 600;
        src: url('/fonts/nunito-sans-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer global {
    :root {
        /* COLORS */
        --primary: #B5A1E5;
        --on-primary: #100E17;
        --background: #131214;
        --on-background: #EAE6F2;
        --surface: #1D1C1F;
        --on-surface: #DDDAE5;
        --on-surface-variant: #7B7980;
        --on-surface-variant-2: #B9B6BF;
        --outline: #3E3D40;
        --bg-aqi-1: #89E589;
        --on-bg-aqi-1: #1F331F;
        --bg-aqi-2: #E5DD89;
        --on-bg-aqi-2: #33311F;
        --bg-aqi-3: #E5C089;
        --on-bg-aqi-3: #332B1F;
        --bg-aqi-4: #E58989;
        --on-bg-aqi-4: #331F1F;
        --bg-aqi-5: #E58987;
        --on-bg-aqi-5: #331F29;
        --white: #FFF;
        --white-alpha-4: hsla(0, 0%, 100%, 0.04);
        --white-alpha-8: hsla(0, 0%, 100%, 0.08);
        --black-alpha-10: hsla(0, 0%, 0%, 0.1);

        /* GRADIENTS */
        --gradient-1: linear-gradient(180deg, hsla(270, 5%, 7%, 0), hsla(270%, 5%, 7%, 0.8) 65%, hsl(270, 5%, 7%) 100%);
        --gradient-2: linear-gradient(180deg, hsla(260, 5%, 12%, 0) 0%, hsla(260, 5%, 12%, 0.8) 65%, hsl(260, 5%, 12%));

        /* TYPOGRAPHY */
        --heading: calc(56 / 16 * 1rem);
        --title-1: calc(10 / 16 * 1rem);
        --title-2: calc(20 / 16 * 1rem);
        --title-3: calc(18 / 16 * 1rem);
        --body-1: calc(22 / 16 * 1rem);
        --body-2: calc(20 / 16 * 1rem);
        --body-3: calc(16 / 16 * 1rem);
        --label-1: calc(14 / 16 * 1rem);
        --label-2: calc(12 / 16 * 1rem);

        /* SHADOWS */
        --shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
        --shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);
        
        @media (width >= calc(1200 / 16 * 1rem)) {
            --heading: calc(80 / 16 * 1rem);
            --title-2: calc(20 / 16 * 1rem);
        }
    }

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    /* FOR FIREFOX SCROLLBAR */
    * {
        scrollbar-width: thin; /* can be auto, thin, or none */
        scrollbar-color: var(--white-alpha-8) transparent; /* thumb track */
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--white-alpha-8);
        border-radius: 500px;
    }

    ul {
        list-style: none;
    }

    a,
    img,
    span,
    input,
    button {
        display: block;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    img {
        height: auto;
    }

    input,
    button {
        background: none;
        border: none;
        color: inherit;
        font: inherit;
    }

    input {
        width: 100%;
    }

    button {
        cursor: pointer;
    }

    sub {
        vertical-align: baseline;
    }

    sub {
        vertical-align: top;
    }

    sub, sup {
        font-size: calc(7.5 / 16 * rem);
    }

    html {
        font-family: "Nunito Sans", sans-serif;
        scroll-behavior: smooth;
    }

    body {
        background: var(--background);
        color: var(--on-background);
        font-size: var(--body-3);
        /* overflow: hidden; */
        height: 300vh;
    }

    :focus-visible {
        outline: 2px solid var(--white);
        outline-offset: 2px;
    }

    ::selection {
        background: var(--white-alpha-8);
    }
}

@layer animations {
    @keyframes ripple {
        0% {
            clip-path: circle(0% at 50% 50%);
        }

        100% {
            clip-path: circle(100% at 50% 50%);
        }
    }

    @keyframes loading {
        0% {
            transform: translateY(-50%) rotate(0);
        }
        100% {
            transform: translateY(-50%) rotate(1turn);
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

@layer reusable__styles {
    .container {
        max-width: 1600px;
        width: 100%;
        margin-inline: auto;
        padding: 16px;

        @media (width >= calc(768 / 16 * 1rem)) {
            padding: 24px;
        }

        @media (width >= calc(1200 / 16 * 1rem)) {
            padding: 40px;
        }
    }

    .icon-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--white-alpha-8);
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }

    .has-state {
        position: relative;
    }

    .has-state:hover {
        box-shadow: var(--shadow-1);
    }

    .has-state:is(:focus, :focus-visible) {
        box-shadow: none;
    }

    .has-state::before {
        content: "";

        position: absolute;
        inset: 0;
        border-radius: inherit;
        clip-path: circle(100% at 50% 50%);
        transition: 100ms ease;
    }

    .has-state:hover::before {
        background-color: var(--white-alpha-4);
    }

    .has-state:is(:focus, :focus-visible)::before {
        background: var(--white-alpha-8);
        animation: ripple 250ms ease forwards;
    }

    .btn-primary {
        display: flex; 
        align-items: center;
        background: var(--primary);
        height: 48px;
        line-height: 48px;
        max-width: max-content;
        padding-inline: 16px;
        border-radius: 500px;
    }

    .btn-primary svg path {
        fill: var(--on-primary);
    }

    .btn-primary .span {
        font-weight: 600;
    }

    .btn-primary[disabled] {
        background: var(--outline);
        cursor: not-allowed;
    }

    .btn-primary[disabled] svg path {
        fill: var(--on-surface-variant);
    }

    .btn-primary[disbaled]::before {
        display: none;
    }

    .card {
        background: var(--surface);
        color: var(--on-surface);
    }

    .card-lg {
        border-radius: 28px;
        padding: 20px;

        @media (width >= calc(768 / 16 * 1rem)) {
            padding: 24px;
        }

        @media (width >= calc(1200 / 16 * 1rem)) {
            padding: 36;
        }
    }

    .card-sm {
        padding: 16px;
        border-radius: 16px;

        @media (width >= calc(768 / 16 * 1rem)) {
            padding: 20px;
            grid-template-rows: min-content 1fr;
        }
    }

    .heading {
        color: var(--white);
        font-size: var(--heading);
        line-height: 1.1;
    }

    .title-1 {
        font-size: var(--title-1);

        @media (width >= calc(768 / 16 * 1rem)) {
            --title-1: calc(24 / 16 * 1rem);
        }

        @media (width >= calc(1200 / 16 * 1rem)) {
            --title-1: calc(36 / 16 * 1rem);
        }
    }

    .title-2 {
        font-size: var(--title-2);
        margin-block-end: 12px;
    }

    .section > .title-2 {
        @media (width >= calc(768 / 16 * 1rem)) {
            margin-block-end: 16px;
        }
    }

    .title-3 {
        font-size: var(--title-3);
        font-weight: 600;
    }

    .body-1 {
        font-size: var(--body-1);
    }

    .body-2 {
        font-size: var(--body-2);
        font-weight: 600;
    }

    .body-3 {
        font-size: var(--body-3);
    }

    .label-1 {
        font-size: var(--label-1);
    }

    .label-2 {
        font-size: var(--label-2);
    }

    .fade-in {
        animation: fade-in 250ms ease forwards;
    }

}

@layer header {
    .search__view,
    .header .btn-primary .span{
        display: none;
    }

    .header {
        @media (width >= calc(1200 / 16 * 1rem)) {
            position: relative;
            height: 120px;
            z-index: 4;
        }
    }

    .logo img {
        width: 150px;
        @media (width >= calc(1200 / 16 * 1rem)) {
            width: 200px;
        }
    }

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (width >= calc(1200 / 16 * 1rem)) {
            height: 100%;
            padding-block: 0;
        }
    }

    .header__actions {
        display: flex;
        align-items: center;
        gap: 16px;

        @media (width >= calc(768 / 16 * 1rem)) {
            gap: 24px;
        }
    }

    .header .btn-primary {
        padding-inline: 12px;
        color: var(--background);
        gap: 12px;
        @media (width >= calc(768 / 16 * 1rem)) {
            padding-inline: 16px 24px;
            gap: 16px;
        }
    }

    .header .btn-primary .span {
        @media (width >= calc(768 / 16 * 1rem)) {
            display: block;
        }
    }

    .header .icon-btn {
        @media (width >= calc(1200 / 16 * 1rem)) {
            display: none;
        }
    }

    .search__view {
        position: fixed;
        top: 0;
        left: 0;
        display: initial; /*quick-fix*/
        width: 100%;
        height: 100vh;
        height: 100svh;
        background: var(--surface);
        color: var(--on-surface);
        clip-path: circle(4% at calc(100% - 102px) 5%);
        opacity: 0;
        visibility: hidden;
        z-index: 4;
        transition: clip-path 500ms ease;

        @media (width >= calc(768 / 16 * 1rem)) {
            clip-path: circle(3% at calc(100% - 273px) 6%);
        }
    }

    .search__view.is-active {
        opacity: 1;
        visibility: visible;
        clip-path: circle(130% at 73% 5%);
    }

    .search__view,
    .search__view.is-active {
        @media (width >= calc(1200 / 16 * 1rem)) {
            all: unset;

            position: relative;
            display: block;
            width: 500px;
            animation: none;
        }
    }

    .search__wrapper {
        position: relative;
        border-block-end: 1px solid var(--outline);

        @media (width >= calc(1200 / 16 * 1rem)) {
            border-block-end: none;
        }
    }

    .search__wrapper::before {
        content: "";

        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        border: 3px solid var(--on-surface);
        border-block-start-color: transparent;
        border-radius: 50%;
        animation: loading 500ms linear infinite;
        display: none;
    }

    .search__wrapper:has(.is-searching)::before {
        display: initial;
    }

    .search__field {
        height: 80px;
        line-height: 80px;
        padding-inline: 56px 16px;
        outline: none;

        @media (width >= calc(1200 / 16 * 1rem)) {
            height: 56px;
            border-radius: 28px;
        }
    }

    .search__result,
    .search__view:not(:focus-within) .search__result {
        @media (width >= calc(1200 / 16 * 1rem)) {
            display: none;
        }
    }

    .search__view:focus-within .search__result.is-active {
        @media (width >= calc(1200 / 16 * 1rem)) {
            display: block;
        }
    }

    .search__view:has(.search__result.is-active):focus-within .search__field {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .search__field,
    .search__view .view__list {
        @media (width >= calc(1200 / 16 * 1rem)) {
            background: var(--surface);
        }
    }

    .search__view .view__list {
        @media (width >= calc(1200 / 16 * 1rem)) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            max-height: 360px;
            border-radius: 0 0 28px 28px;
            border-block-start: 1px solid var(--outline);
            overflow-y: auto; /*FOR FIREFOX*/
            overflow-y: overlay;
        }
    }

    .search__view .view__list:empty {
        @media (width >= calc(1200 / 16 * 1rem)) {
            min-height: 120px;
        }
    }

    .search__field::placeholder {
        color: var(--on-surface-variant-2);
    }

    .search__field::-webkit-search-cancel-button {
        display: none;
    }

    .search__wrapper .leading-icon {
        position: absolute;
        top: 50%;
        left: 28px;
        transform: translateX(-50%) translateY(-50%);
    }

    .search__wrapper > .search-icon {
        display: none;
        @media (width >= calc(1200 / 16 * 1rem)) {
            display: block;
        }
    }

    .search__wrapper .icon-btn {
        background: transparent;
        box-shadow: none;
    }

    .search__view .view__list {
        padding-block: 8px 16px;
    }

    .search__view .view__list::-webkit-scrollbar-button {
        @media (width >= calc(1200 / 16 * 1rem)) {
            height: 20px;
        }
    }

    .search__view:is(:hover, :has(.view__list):hover) {
        @media (width >= calc(1200 / 16 * 1rem)) {
            filter: drop-shadow(var(--shadow-1));
        }
    }

    .search__view:is(:focus-within, :has(.view__list):focus-within) {
        @media (width >= calc(1200 / 16 * 1rem)) {
            filter: drop-shadow(var(--shadow-2));
        }
    }

    .search__view .view__item {
        position: relative;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 16px;
        height: 56px;
        padding-inline: 16px 24px;
    }

    .search__view .view__item :is(.search-icon, .item__subtitle) {
        color: var(--on-surface-variant);
    }

    .search__view .view__item .item__link {
        position: absolute;
        inset: 0;
        box-shadow: none;
    }

    .calendar-icon path {
        fill: var(--white);
    }
}

@layer main {
    main {
        height: calc(100vh - 80px);
        height: calc(100svh - 80px); /*for mobile browser*/
        overflow: hidden;

        @media (width >= calc(768 / 16 * 1rem)) {
            height: calc(100vh - 96px);
            height: calc(100svh - 96px); /*for mobile browser*/
        }
        @media (width >= calc(1200 / 16 * 1rem)) {
            height: calc(100vh - 120px);
            height: calc(100svh - 120px);   
        }
    }

    .current__weather .weather__icon {
        @media (width >= calc(1200 / 16 * 1rem)) {
            width: 80px;
        }
    }

    article.container {
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr);
        gap: 20px;
        height: 100%;
        overflow-y: auto; /* FOR FIREFOX */
        overflow-y: overlay;

        @media (width >= calc(768 / 16 * 1rem)) {
            padding-block-start: 0;
            grid-template-columns: 280px minmax(0, 1fr);
            align-items: start;
            gap: 24px;
        }

        @media (width >= calc(1200 / 16 * 1rem)) {
            grid-template-columns: 360px minmax(0, 1fr);
            gap: 40px;
        }
    }

    .content__left {
        @media (width >= calc(768 / 16 * 1rem)) {
            position: sticky;
            top: 0;
        }
    }

    article.container::before {
        content: "";

        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background: var(--gradient-1);
        pointer-events: none;
        z-index: 1;
    }

    .section:not(:last-child) {
        margin-block-end: 16px;

        @media (width >= calc(768 / 16 * 1rem)) {
            margin-block: 20px;
        }
    }

    article.container::-webkit-scrollbar-thumb {
        background: transparent;
    }

    article.container:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
        background: var(--white-alpha-8);
    }

    article.container::-webkit-scrollbar-button {
        height: 10px;
    }

}

@layer current__weather {
    .current-weather-card .wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-block: 12px;
    }

    .current-weather-card .weather__icon {
        margin-inline: auto;
    }

    .current-weather-card > .body-3 {
        text-transform: capitalize;
    }

    .current-weather-card .meta-list {
        margin-block-start: 16px;
        padding-block-start: 16px;
        border-block-start: 1px solid var(--outline);
    }

    .current-weather-card .meta-item {
        display: flex;
        gap: 8px;
        align-items: center;
    }

    .current-weather-card .meta-item:not(:last-child) {
        margin-block-end: 12px;
    }

    .current-weather-card .meta-text {
        color: var(--on-surface-variant);
    }

}

@layer five__day__forecast {
    .forecast__card .title-2 {
        margin-block-end: 0;
        @media (width > calc(1200 / 16 * 1rem)) {
            --title-2: 2.2rem;
        }
    }

    .forecast__card :is(.card-item, .icon__wrapper) {
        display: flex;
        align-items: center;
    }

    .forecast__card .card-item:not(:last-child) {
        margin-block-end: 12px;
        @media (width >= calc(768 / 16 * 1rem)) {
            margin-block-end: 16px;
        }
    }

    .forecast__card .icon__wrapper {
        gap: 8px;
    }

    .forecast__card .label-1 {
        color: var(--on-surface-variant);
        font-weight: 600;
    }

    .forecast__card .card-item > .label-1 {
        width: 100%;
        text-align: right;
    }
}

@layer highlights {
    .highlights svg path {
        stroke: var(--white);
        fill: var(--white);
    }

    .highlight-list {
        display: grid;
        gap: 20px;

        @media (width >= calc(768 / 16 * 1rem)) {
            grid-template-columns: 1fr 1fr;
        }

        @media (width >= calc(1400 / 16 * 1rem)) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .highlight-card:nth-child(-n+2) {
        @media (width >= calc(768 / 16 * 1rem)) {
            grid-column-start: span 2;   
        }

        @media (width >= calc(1200 / 16 * 1rem)) {
            height: 200px;
        }
    }

    .highlight-card:nth-child(n+3) {
        @media (width >= calc(1200 / 16 * 1rem)) {
            height: 150px;
        }
    }

    .highlights svg {
        @media (width >= calc(768 / 16 * 1rem)) {
            width: 36px;
            height: 36px;
        }

        @media (width >= calc(1200 / 16 * 1rem)) {
            width: 48px;
            height: 48px;
        }
    }

    .highlight-card.one .card-item {
        @media (width >= calc(768 / 16 * 1rem)) {
            width: 25%;
            flex-direction: column-reverse;
            gap: 8px;
        }
    }

    .highlight-list .title-3 {
        color: var(--on-surface-variant);
        margin-block-end: 20px;
    }

    .highlights .card-sm {
        position: relative;
        background: var(--black-alpha-10);
    }

    .highlight-card :is(.wrapper, .card-list, .card-item) {
        display: flex;
        align-items: center;
    }

    .highlight-card .title-2 {
        margin-block-end: 0;
    }

    .highlight-card .wrapper {
        justify-content: space-between;
        gap: 16px;
    }

    .highlight-card .card-list {
        flex-wrap: wrap;
        flex-grow: 1;
        row-gap: 8px;
    }

    .highlight-card .card-item {
        width: 50%;
        justify-content: end;
        gap: 4px;
    }

    .highlight-card .label-1 {
        color: var(--on-surface-variant);
    }

    .badge {
        position: absolute;
        top: 16px;
        right: 16px;
        padding: 2px 12px;
        border-radius: 500px;
        font-weight: 600;
        cursor: help;

        @media (width >= calc(768 / 16 * 1rem)) {
            top: 20px;
            right: 20px;
        }
    }

    .badge.aqi-1 {
        background: var(--bg-aqi-1);
        color: var(--on-bg-aqi-1);
    }

    .badge.aqi-2 {
        background: var(--bg-aqi-2);
        color: var(--on-bg-aqi-2);
    }

    .badge.aqi-3 {
        background: var(--bg-aqi-3);
        color: var(--on-bg-aqi-3);
    }

    .badge.aqi-4 {
        background: var(--bg-aqi-4);
        color: var(--on-bg-aqi-4);
    }

    .badge.aqi-5 {
        background: var(--bg-aqi-5);
        color: var(--on-bg-aqi-5);
    }

    .highlight-card.two .card-item {
        justify-content: start;
        flex-wrap: wrap;
        gap: 8px 16px;

        @media (width >= calc(1200 / 16 * 1rem)) {
            column-gap: 24px;
        }
    }

    .highlight-card.two .label-1 {
        margin-block-end: 4px;
    }
}

@layer hourly__forecast {
    .slider__container {
        overflow-x: auto;
        margin-inline: -16px;

        @media (width >= calc(768 / 16 * 1rem)) {
            margin-inline-start: 0;
            margin-inline-end: -24px;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }
    }

    .slider__container::-webkit-scrollbar {
        display: none;
    }

    .slider__list {
        display: flex;
        gap: 12px;

        @media (width >= calc(1200 / 16 * 1rem)) {
            gap: 16px;
        }
    }

    .slider__list:first-child {
        margin-block-end: 16px;
    }

    .slider__list::before,
    .slider__list::after {
        content: "";
        min-width: 4px;
    }

    .slider__list::before {
        @media (width >= calc(768 / 16 * 1rem)) {
            display: none;
        }
    }

    .slider__list::after {
        @media (width >= calc(768 / 16 * 1rem)) {
            min-width: 12px;
        }
    }

    .hourly__forecast .card-sm {
        padding: 16px;
    }

    .slider__item {
        min-width: 110px;
        flex: 1 1 100%;
    }

    .slider__card {
        text-align: center;
    }

    .slider__item .weather__icon {
        margin-inline: auto;
    }
}

@layer footer {
    .footer,
    .footer .body-3:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer {
        display: none;
        color: var(--on-surface-variant);
        text-align: center;
        gap: 12 24px;
        margin-block-start: 28px;
    }

    .fade-in .footer {
        display: flex;
    }

    .footer .body-3:last-child {
        gap: 6px;
    }
}

@layer loading {
    .loading {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        place-items: center;
        width: 100%;
        height: 100%;
        background: var(--background);
        z-index: 1;
    }

    .loading::before {
        content: "";

        width: 48px;
        height: 48px;
        border: 4px solid var(--on-background);
        border-block-start-color: transparent;
        border-radius: 50%;
        animation: loading 500ms linear infinite;
    }
}

@layer error {
    .error__content {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        height: 100svh; /* for mobile browser */
        background: var(--background);
        z-index: 8;
        display: none;
    }

    .error__content .btn-primary {
        margin-block-start: 20px;
    }
}